@{
    ViewData["Title"] = "Home Page";
    ViewData["BodyClass"] = "home-background";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="welcome-box">
                <h1>Welcome to Metric System</h1>
                <p>Easily convert from British system to international metric system.</p>
            </div>
        </div>
    </div>
</div>